<div class="container">
    <div class='row'>
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h1>Admin Control Panel</h1>
                <%= link_to "New Product", new_product_path %>
            </div>
        </div>
    </div>
</div>