<div class="container text-center">
    <h1>Brazil Boutique About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, 
    aspernatur ipsam ad temporibus ipsum tempore dicta obcaecati tempora 
    laboriosam suscipit dolores ullam vero itaque exercitationem officia 
    cum odio ducimus similique.</p>
</div>