<div class="container text-center">
    <h1>Brazil Boutique FAQ</h1>
    <h3>What is question one?</h3>
    <p>The answer as we see it is as follows</p>
    <h3>What is the second question?</h3>
    <p>The answer is Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Ipsum, perspiciatis, nesciunt, repellendus, aspernatur totam sapiente optio 
    ipsam quibusdam nulla accusamus incidunt officiis iusto maiores sint dolore 
    voluptatibus esse maxime mollitia?</p>
</div>